*{
    margin: 0;
    padding: 0;
}

#cuerpo{
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

h1{
    font-size: 60px;
    font-family:cursive
   
}
h2{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

#encabezado{
    position: relative;
    display: flex;
    flex-direction:row;
    background-image: url(src/fondo.png);
    width: 960px;
    border: 1px solid gray;
    height:auto;
    border-radius: 20px;
    text-align: center;
    color:#708090;
   
.logo + h2 {
    position: absolute;
    left: 20px;
    top: 30px; 
   
    
}
#titulo{
    position: relative;
    top: 30px;
    left: 80px;
    margin: 20px;
    height: auto;
    padding: 20px;

}


}
.logo {
    position:absolute;
    right: 10%;
    bottom: 2px;
    width: 20%;
    height: auto;    
   
    
}
#menu{
    display: flex;
    justify-content: space-around;
    background: #708090;
    padding: 20px;
    border-radius: 20px;
}

.nav-enlace{
    display: inline-block;
    padding: 10px 30px;
    background: 	#708090;
    color: white;
    text-decoration: none; 
    font-size: 20px;
    
    
}
.nav-enlace:hover{
    background:#C0C0C0;
}


.prueba{
    display: flex;
}

#seccion{
    display:block;
    width: 660px;
    margin: 20px;
}

.articulo{
    background:PapayaWhip;
    color: black;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 20px;
}
.articulo img{
    float: right;
    width: 100px;
    height: 100px;
    margin-bottom:15px;
    border: 1px solid black;
    border-radius: 50px;
}


#lateral{
    position: relative;
    background: gray;
    border-radius: 20px 20px 20px 20px;
    width:300px;
    height: 330px;
    margin: 20px 0 40px 5px;
    border: 1px solid black;
    color: white;
    
}
#lateral h3 {
    background: black;
    border-radius: 20px 20px 0 0;
    text-align: center;
    height: 30px;
    padding: 10px;
    font-size: 25px;

}


#lateral label{
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 12px;
    width: 50px;
    margin-bottom: 7px;
    padding: 5px;
   
   
}
#lateral input {
    position: relative;   
    left: 20px;
    top: 20px;
    font-size: 12px;
    width: 150px;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 8px;  
}
#lateral input:focus {
    background-color: papayawhip;
}
#lateral label{
    position: relative;
    display: inline-block;
    left: 20px;
    font-size: 16px;
}
#lateral input{
    position: relative;
    left: 40px;
    
}
#boton{
    position: absolute;
    bottom: 1px;
    right: 300px;
    
}
.btn{
    position: relative;
    top: 5px;
    background-color: papayawhip;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    border: none;
    cursor: pointer;  
}

.btn:hover{
    background-color:white;
}
.btn:active{
    background-color: goldenrod;
}


#pie{
    display: inline-block;
    background:  #708090;
    width: 100%;
    height:auto;
    text-align: center;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}

