*{
    margin: 0;
    padding: 0;
}

#cuerpo{
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

h1{
    font-size: 65px;
    font-family:cursive
   
}
h2{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

#encabezado{
    background-image: url(src/fondo.png);
    width: auto;
    height:auto;
    border-radius: 10px;
    text-align: center;
    color:#708090;


}
#encabezado img {
    float: right;
    width: 200px;
    height: 200px;
   
    
}

.nav-enlace{
    display: inline-block;
    padding: 10px 30px;
    background: 	#708090;
    color: white;
    text-decoration: none; 
    font-size: 20px;
    
    
}
.nav-enlace:hover{
    background:#C0C0C0;
}
#menu{
    background: #708090;
    padding: 20px;
}

#seccion{
    float: left;
    width: 660px;
    margin: 20px;
}

.articulo{
    background:PapayaWhip;
    color: black;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 20px;
}
.articulo img{
    float: right;
    width: 100px;
    height: 100px;
    margin-bottom:15px;
    border: 1px solid black;
    border-radius: 50px;
}


#lateral{
    background: gray;
    float: left;
    width:220px;
    padding: 20px;
    margin: 20px 0px;


}
#pie{
    display: inline-block;
    background:  #708090;
    width: 100%;
    height:auto;
    text-align: center;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

